*, *:before, *:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background: white;
    font-family: 'Titillium Web', sans-serif;
}

p {
    line-height: 14px;
    margin-bottom: 8px;
}

h1 {
    color: #659520;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

h2 {
    color: #659520;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top:20px;
}

/* --------CONTENT-------- */

#wrapper {
    margin: auto;
    padding-bottom: 42px;
    position: relative;
    max-width: 1140px;
    /*overflow: auto;*/
}

#content {
    background: #fff;
    padding: 0 10px;
    padding-bottom: 28px;
    overflow: auto;
}

/* --------HEADER-------- */

#site-header {
    height: 98px;
    padding: 0 20px;
}

#site-header .logo {
    float: left;
    margin-top: 32px;
}

#site-header .version-info {
    color: #fff;
    float: right;
    margin: 0px;
    margin-top: 52px;
    text-align: right;
    font-weight: bold;
    line-height: 16px
}

.header-back-right .version-info .model-info {
    font-size: 15px;
}

.header-back-right .version-info .firm-info {
    font-size: 12px;
}

#site-header .version-info span.firmInfo {
    font-size: 13px;
}

.header-back {
    height: 98px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
    min-width: 1140px;
}

.header-back .header-back-right .version-info {
    position: relative;
    color: #fff;
    margin-right: 88%;
    margin-top: 52px;
    text-align: right;

    font-weight: bold;
    line-height: 16px;
    min-width: 210px;
}

.header-back .header-back-left {
    background: #000;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    margin-right: -260px;
    position: absolute;
    right: 50%;
    width: 100%;
}

.header-back .header-back-right {
    background: #77B829;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    margin-left: 270px;
    position: absolute;
    left: 50%;
    width: 100%;
}

.message {
    position: relative;
    margin-top: 40px;
    margin-left:100px;
}

/* --------LEFT ASIDE-------- */

.aside-left {
    float: left;
    width: 165px;
    margin-right: 20px;
}

.wizard-progress {
    background: #E4F1D4;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #BBDD94;
    padding: 20px 10px;
    text-align: center;
    margin-top: 20px;
}

.wizard-progress h2 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
}

.wizard-progress p {
    font-weight: bold;
    font-size: 19px;
}

/* ----NAVIGATION LINKS---- */

.nav-links {
    background: #98A6B3;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: left;
    margin-top: 10px;
    width: 165px;
    padding: 10px 0 5px;
    position: relative;
}

.nav-links .cat-link.closed {
    background: url(/public/img/list-arrow-closed.png) no-repeat 152px center;
}

.nav-links .cat-link.open {
    background: url(/public/img/list-arrow-open.png) no-repeat 152px center;
    font-weight: bold;
}

.nav-links .cat-link:hover {
    background: #659520 url(/public/img/list-arrow-closed.png) no-repeat 152px center;
}

.nav-links .cat-link.open:hover {
    background: #659520 url(/public/img/list-arrow-open.png) no-repeat 152px center;
}

.nav-links a {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 10px;
    border-bottom: 1px solid #fff;
    color: black;
}

.nav-links a:hover {
    color: #000;
    font-weight: bold;
    background: #659520;
}

.nav-links li {
    font-size: 12px;
    line-height: 22px;
}

.nav-links ul li {
    background: #D6DCE1;
}

.nav-links ul li a {
    padding-left: 20px;
}

.nav-links .level2 a {
    padding-left: 35px;
}

.nav-links a.current-page {
    font-weight: bold;
    color: #000;
    background: #659520;
}

.sub-nav-links {
    margin-left: 8px;
}

.open + ul {
    display: block;
}

.closed + ul {
    display: none;
}

.aside-left .legal {
    font-size: 10px;
    text-align: center;
    margin-top: 60px;
    width: inherit;
    bottom: 5px;
}

/* ---- Wizard Nav ---- */

.wizard-nav {
    position: relative;
    margin: auto;
    margin-top: 96px;
    text-align: center;
    clear: both;
}

.wizard-nav .next {
    margin-left: 20px;
}

.wizard-nav .prev {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #1ab188;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
a:hover {
    color: #179b77;
}

.form {
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.tab-group li a:hover {
    background: #179b77;
    color: #ffffff;
}
.tab-group .active a {
    background: #1ab188;
    color: #ffffff;
}

.tab-content > div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}
label .req {
    margin: 2px;
    color: #1ab188;
}

label.active {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}
label.active .req {
    opacity: 0;
}

label.highlight {
    color: #ffffff;
}

input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}
.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}
.top-row > div:last-child {
    margin: 0;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.button:hover, .button:focus {
    background: #179b77;
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}

.data-grid {
    border-collapse: collapse;
    text-align: left;
    width: 80%;
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #8C8C8C;
}

.data-grid tr:nth-child(even) {
    background-color: #E8E8E8;
}

.data-grid td, .data-grid th {
    padding: 2px 3px;
}

.data-grid th {
    text-align: center;
    background-color: #8C8C8C;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    border-left: 1px solid #A3A3A3;
}

.data-grid thead th:first-child {
    border: none;
}

.data-grid tbody td {
    color: #7D7D7D;
    border-left: 1px solid #DBDBDB;
    font-size: 12px;
    font-weight: normal;
}

.data-grid tbody .alt td {
    background: #EBEBEB;
    color: #7D7D7D;
}

.data-grid tbody td:first-child {
    border-left: none;
}

.data-grid tbody tr:last-child td {
    border-bottom: none;
}

.data-grid tfoot td div {
    border-top: 1px solid #8C8C8C;
    background: #EBEBEB;
}

.data-grid tfoot td {
    padding: 0;
    font-size: 12px
}

.data-grid tfoot td div {
    padding: 2px;
}

.data-grid tfoot td ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.data-grid tfoot li {
    display: inline;
}

.data-grid tfoot li a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #F5F5F5;
    border: 1px solid #8C8C8C;
    border-radius: 3px;
    background-color: #8C8C8C;
}

.data-grid tfoot ul.active, .data-grid table tfoot ul a:hover {
    text-decoration: none;
    border-color: #7D7D7D;
    color: #F5F5F5;
    background: none;
    background-color: #8C8C8C;
}